:root {
  --primary-bg-color-light: #ACC9F7;
  --primary-text-color-light: #333333;
  --primary-bg-color-dark: #333333;
  --primary-text-color-dark: #ACC9F7;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-blue {
  background-color: #3179EA;
}

.offcanvas-body {
  background-color: #3179EA;
  color: white;
}

.dark-mode {
  background-color: var(--primary-bg-color-dark) !important;
  color: var(--primary-text-color-dark) !important;
}

.dark-mode .offcanvas-body button {
  color: white;
}

.offcanvas-body button {
  color: white;

}



.dark-mode .btn:hover {
  background-color: #4686ED;
}

.offcanvas-body .btn:hover{
  background-color: #4686ED;

}

.offcanvas-body .link{
  color: white;

}
.offcanvas-body .btn.active {
  background-color: #4686ED; /* Set the background color for the active button */
  
}

.offcanvas-body .btn:hover .dark-svg{
    fill: orange !important;
}


.dark-mode .dark-svg {
  fill: var(--primary-text-color-dark) !important;
}

.dark-svg {
  fill: var(--primary-text-color-dark) !important;
}

.dark-mode .form-control {
  color: #fff !important;
}

.light-mode-text {
  color: #fff !important;
}

.dark-mode .card {
  background-color: #333333 !important;
  color: white;
}
