/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --primary-bg-color-light: #ffffff;
  --primary-text-color-light: #000000;
  --primary-bg-color-dark: #333333;
  --primary-text-color-dark: #ffffff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* transition: background-color 0.5s ease, color 0.5s ease; */
  background-color: var(--primary-bg-color-light); /* Default background color */
  color: var(--primary-text-color-light); /* Default text color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dark-mode {
  background-color: var(--primary-bg-color-dark) !important;
  color: var(--primary-text-color-dark) !important;
}
